    <div th:fragment="footer">

        <footer class="text-muted py-5">
            <div class="container">
                <p class="float-end mb-3">
                    <a href="#">Back to top</a>
                </p>
                <p class="mb-3">Следите за новостями <a href="/blog">Новости</a> </p>
                <p class="mb-0">Посетите главную страницу <a href="/">Visit the homepage</a> or read our <a href="/docs/5.3/getting-started/introduction/">getting started guide</a>.</p>
            </div>
        </footer>

    </div>